#p1{
    background-color: darkred;
    padding: 10px;
    width: 190px;
    color: chartreuse;
}
#p2{
    color: blueviolet;
}
#p3{
    color:magenta;
}
#p4{
    background-color: firebrick;
    padding: 10px;
    width: 250PX;
    color: cadetblue;
}